.footer{
    color: #fff;
    font-size:1.25rem;
    background:#162c3b;
    padding:20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    display:inline-block;
    margin:0 10px;
}
.footer ul li a img{
    filter: invert(1);
    max-width:20px;
}
.i{
    color:#fff;
    font-weight: bold;
    font-size:25px;
}
.fa-heart{
    color:red;
}